@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neodgm";
  src: url("/fonts/neodgm/neodgm.woff");
}

@font-face {
  font-family: "PF스타더스트";
  src: url("/fonts/pfstardust/PF스타더스트.ttf");
}

@font-face {
  font-family: "PF스타더스트Bold";
  src: url("/fonts/pfstardust/PF스타더스트 Bold.ttf");
}
@font-face {
  font-family: "PF스타더스트S";
  src: url("/fonts/pfstardust/PF스타더스트.ttf");
}

@font-face {
  font-family: "PF스타더스트SBold";
  src: url("/fonts/pfstardust/PF스타더스트S Bold.ttf");
}

@font-face {
  font-family: "blackHanSans";
  src: url("/fonts/BlackHanSans-Regular.ttf");
}

@font-face {
  font-family: "gothicA1";
  src: url("/fonts/gothic-a1/GothicA1-Regular.ttf");
}

body {
  font-family: "Neodgm";
  box-sizing: border-box;
}

body h1 {
  font-size: 60px;
}

.font__sans {
  font-family: sans-serif;
}

.font__blackHanSans {
  font-family: "blackHanSans";
}

.font__stardust {
  font-family: "pf스타더스트";
}

.font__gothicA1 {
  font-family: "gothicA1";
}
